[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Taskbar
Comment=A simple Taskbar for XFCE4
Icon=appllications-puzzles
X-XFCE-Module=taskbar
X-XFCE-Internal=false
X-XFCE-Unique=false
X-XFCE-API=2.0